#home{

  margin: 0 auto;


  .autoplay{
    img{
      min-height: 300px
    }
  } 
  h1{
    text-align: center;
  }

  p{
    text-align: center;
  }

  .field{
    border: 1px solid black;
    height: 500px 
  }

  #home-list{
    

  
    #pedal-home-list{

      
    }
    
    #rig-home-list{
    

     
    }
  }
}