#home-list{
  
  margin: 0 auto;

  #pedal-home-list{
    padding-left: 100px;
    padding-right: 100px;
    float: left;
  }
  
  #rig-home-list{
    padding-left: 100px;
    padding-right: 100px;
    float: left;
  }
}