#home{

  margin: 0 auto;


  .autoplay{
    img{
      height: 300px
    }
    button{
      .slick-prev:before,
      .slick-next:before {
         display:none;
      }
    }
  } 



  h1{
    text-align: center;
  }

  p{
    text-align: center;
  }

  .field{
    border: 1px solid black;
    height: 600px 
  }

  #home-list{
    

  
    #pedal-home-list{

      
    }
    
    #rig-home-list{
    

     
    }
  }
}