// Place all the styles related to the Rigs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.guitarist-image img{
  min-width: 160px;
  max-width: 160px;
}

.rig-image img{
  min-width: 400px;
  max-width: 400px;
}

