*{
  list-style-type: none;

}

body{
  background-color: #FDFDFD;
}

.head-bar{
  background-color: #1D1F0A;
  padding: 10px;
  height: 100px;
  .top-bar{
      background-color: #1D1F0A;
    .name{
      background-color: #1D1F0A;
      color: #E8FB33;
      font-family: 'Permanent Marker', cursive; 
      font-size: 40px;

      a{
        border-radius: 3px;
      }
      a:not(.button):hover {
          
          background-color: #E8FB33;
          background: #E8FB33;
          color: #1D1F0A;
      }
      a:not(.button) {
          background-color: #1D1F0A;
          background: #1D1F0A;

      }
    }
  }
  .right{
      background-color: #1D1F0A;
    li{
      background-color: #1D1F0A;
    }
  }
}




th{
  border: 1px solid black;
}

td{
  border: 1px solid black;
}

.select2-choices{
  width: 300px;
}

.left li {
  line-height: 110px;
}