*{
  font-family: 'Contrail One', cursive;
}

.head-bar{
  background-color: #0A0A03;
}

.name{
  color: #D3FB00;
}

th{
  border: 1px solid black;
}

td{
  border: 1px solid black;
}

.select2-choices{
  width: 300px;
}