.pedals{
  table{
    background-color: rgba(13.3, 13.3, 13.3, 0.4);

    color: #AFB94C;
    border-radius: 4px;
    border: 0px;

    thead{
      background-color: rgba(13.3, 13.3, 13.3, 0.4);
      color: #AFB94C;
      text-align: center;
    }
    th{
      color: #AFB94C;
      text-align: center;
    }

    
  }
}

td{
  background-color: rgba(13.3, 13.3, 13.3, 0.4);
  color: #AFB94C;
  text-align: center;
  }