*{
  list-style-type: none;
  font-family: 'Ubuntu', sans-serif;
}

body{
  background-color: #FDFDFD;
}

.head-bar{
  background-color: #1D1F0A;
  padding: 10px;
  height: 100px;
  .top-bar{
      background-color: #1D1F0A;
    .name{
      background-color: #1D1F0A;
      color: #AFB94C;
      font-family: 'Permanent Marker', cursive; 
      font-size: 60px;

      a{
        border-radius: 3px;
        
        
      }
      a:not(.button):hover {
          font-family: 'Ubuntu', sans-serif;
          font-weight: bold;
          font-style: italic;
      
          background-color: #AFB94C;
          background: #AFB94C;
          color: #1D1F0A;
      }
      a:not(.button) {
          font-family: 'Ubuntu', sans-serif;
          font-weight: bold;
          font-style: italic;
          background-color: #1D1F0A;
          background: #1D1F0A;

      }
    }
  }

  #rigs-title{
    font-family: 'Permanent Marker', cursive;
    .name{
     
   }
  }


  .right{
      


      font-family: 'Ubuntu', sans-serif;
      font-weight: bold;
      font-style: italic;
      
    label{
      padding: 4px;
    }

      background-color: #1D1F0A;
    li{
      background-color: #1D1F0A;
    }
  }
}


th{
  border: 1px solid black;
}

td{
  border: 1px solid black;
}

.select2-choices{
  width: 300px;
}

.left li {
  line-height: 110px;
}

.row {
  background-color: rgba(13, 13, 13, 0.4);
  color: white;
  text-align: center;
  }

body {
  background-image: url("home-bg.jpeg");
  color: #AFB94C;
}

ul {
  margin: 0px;
  padding: 0px;
}

li{
  .rigs-show-pedals {
    margin: 15px;
  }
}

label{
  color: #AFB94C;
}

a{
  color: #AFB94C;
}

td{
  color: #AFB94C;
}

.pagination{
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

select {
  display: inline !important;
}
form.custom div.custom.dropdown {
  display: none;
}